@model IEnumerable<Capstone.Web.Models.RecipeModel>

@{
    ViewBag.Title = "Index";
}
@*<script src="~/Content/masonry.pkgd.min.js"></script>*@
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="~/Content/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="~/Content/masonry-docs.min.js"></script>
<script type="text/javascript" src="~/Content/jquery.js"></script>

<script src="~/Content/jquery.min.js"></script>
<script src="~/Content/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.panel-heading').each(function () {
            var hue = 'rgb(' + (Math.floor((256 - 199) * Math.random()) + 200) + ',' + (Math.floor((256 - 199) * Math.random()) + 200) + ',' + (Math.floor((256 - 199) * Math.random()) + 200) + ')';
            $(this).css("background-color", hue);
        });
    });
</script>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Our Mission</h2>
        </div>
        <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h3>Who We Are</h3><hr />
                <p>Cancer Support Community is a national nonprofit organization dedicated to ensuring that all people affected by cancer are empowered by knowledge, strengthened by action and sustained by community. Our programs and services are offered to all those affected by cancer: patients, families, children, friends, coworkers and caregivers. And we do it at no cost to them so no one faces cancer alone. All of our programs, including support groups, are managed and facilitated by licensed mental health professionals who are specifically trained in Cancer Support Community philosophy, methodology and administration. Cancer Support Community provides only programs that are both purposeful and proven to be effective by sound research.</p>
            </div>
            <div class="col-md-4">
                <h3>The Goal Of The Site</h3><hr />
                <p>Cooking for life and eating well are important for everyone, but they are essential for people living with, through and beyond cancer. Cancer Support Community and Giant Eagle Market District® Kingsdale host monthly classes where wellness chefs and dietitians demonstrate how to make easy and nutritious dishes that are packed with antioxidants and flavor. Each class has a featured topic, recipes and menu tasting. Attend one or all of the classes with your family, children and friends! This site is designed to make your day easier. You can add a personal recipe, scroll through many recipes, and add them to a meal plan. The meal plan allows you to plan all you meals for the entire week, making your life that much easier!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="panel panel-default">
    <div class="panel-heading"><h2>Recipes</h2></div>
    <div class="panel-body">

    <div id="home">
    @foreach (var item in Model)
    {
            <div class="panel panel-default">
                <div class="panel-heading">
                     @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="panel-body">
                    <a href="@Url.Action("Details","Home", new { id = item.RecipeID })"><img style="width:100%; height:auto" src="~/Img/@item.ImageName" /></a>
                    @Html.ActionLink("Details", "Home", new { id = item.RecipeID })
                </div>
            </div>
    }
    </div>
</div>
    
    </div>
    </div>
    






