
@{
    ViewBag.Title = "Nutrition";
}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Nutrition Info</h2></div>
        <div class="panel-body">
            <p>
                Consuming a healthy diet is important for everyone at every stage of life! A healthy
                diet includes variety from the five food groups: Fruits, vegetables, whole grains,
                dairy (or dairy-alternatives), and lean proteins. Food not only gives our bodies nutrients and energy, but can improve our health. 
                Focus on your diet while also incorporating regular
                physical activity and self-care for the most health benefits!
            </p>
            <p>Learn more about a cancer-protective, healthy diet including tips for making changes and recipes from the American Institute for Cancer Research <a href="http://www.aicr.org/new-american-plate/">here.</a></p>
            <p>For recommendations for cancer prevention, click <a href="http://www.aicr.org/reduce-your-cancer-risk/recommendations-for-cancer-prevention/">here.</a></p>
            <p> For more information on maintaining a wealthy height, click <a href="http://www.aicr.org/reduce-your-cancer-risk/weight/">here.</a>     </p>
            <p> For more information on physical activity, click <a href="http://www.aicr.org/reduce-your-cancer-risk/weight/">here.</a>     </p>


        </div>
    </div>
</div>

