
@{
    ViewBag.Title = "TreatmentTips";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Treatment Tips</h2></div>
        <div class="panel-body">
            During treatment, some may experience various side effects and issues centered
            around eating. If you are dealing with fatigue, sore mouth, difficulty swallowing,
            taste changes, weight changes, food aversions and more, visit the American Institute
            for Cancer Research for more information <a href="http://ow.ly/JTCo30heosK">here</a>.

            <br />
            <br />
            If you are experiencing gastrointestinal issues such as nausea, vomiting, constipation
            or diarrhea, foods that can help and foods to avoid can be found
                <a href="http://www.aicr.org/patients-survivors/during-treatment/foods-to-try.html">here.</a>
            </div>
        </div>
    </div>

