<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/healthy</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/healthy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Capstone.Web.recipeDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=74125977-1e76-46e8-ac46-a869016c3a3e.sqlserver.sequelizer.com;Persist Security Info=True;User ID=qldzzdkzmuqqmadz;Password=eQvXLhSFo5R2gmpNcoTfdzQeEnBKj4bQ26WNzX8FRKRbyEXqG8LopcZL8qsxMhvs" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Capstone.Web.recipeDBEntities, Capstone.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="recipeDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=74125977-1e76-46e8-ac46-a869016c3a3e.sqlserver.sequelizer.com;Database=db741259771e7646e8ac46a869016c3a3e;User ID=qldzzdkzmuqqmadz;Password=eQvXLhSFo5R2gmpNcoTfdzQeEnBKj4bQ26WNzX8FRKRbyEXqG8LopcZL8qsxMhvs;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\recipeDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=74125977-1e76-46e8-ac46-a869016c3a3e.sqlserver.sequelizer.com;Database=db741259771e7646e8ac46a869016c3a3e;User ID=qldzzdkzmuqqmadz;Password=eQvXLhSFo5R2gmpNcoTfdzQeEnBKj4bQ26WNzX8FRKRbyEXqG8LopcZL8qsxMhvs;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)recipeDB-Web.config Connection String" />
    <MSDeployParameterValue Include="Capstone.Web.recipeDBEntities-Web.config Connection String">
      <ParameterValue>Data Source=74125977-1e76-46e8-ac46-a869016c3a3e.sqlserver.sequelizer.com;Persist Security Info=True;User ID=qldzzdkzmuqqmadz;Password=eQvXLhSFo5R2gmpNcoTfdzQeEnBKj4bQ26WNzX8FRKRbyEXqG8LopcZL8qsxMhvs</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Capstone.Web.recipeDBEntities" />
  </ItemGroup>
</Project>