
@{
    ViewBag.Title = "RegisterSuccess";
}


<br>
<br>
<br>
<br>
<div class="body">
<h1>Registration Complete!</h1>
    <br>
    <br>
    <h2>You Can Now:</h2>
    <br>
    <div class="rstext">
    <p>Create Your Own Meal Plan For Each Day Of The Week</p>
    <p>Add New Recipes And Build Them Into Your Weekly Meal Plan</p>
    <p>Share A Personal Recipe And Make It A Part Of The Master List <sub>subject to approval</sub> </p>
    <p>And So Much More!</p>
        </div>
    </div>

